.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-header {
    height: 10vh;
}

.logo {
    display: inline-block;
    height: inherit;
}

.logo-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}

.tools {
    height: inherit;
    display: flex;
    align-items: center;
    float: right;
}

.menu {
    width: 30%;
    display: flex;
    flex-direction: column;
}