.wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    flex-basis: fit-content;
}

header {
    background-color: #cbf1f5;
    padding: 0 1vh;
}

.menu {
    min-width: fit-content;
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 1vw;
    background-color: #e3fdfd;
}

.menu-item {
    height: 6vh;
    min-height: 20px;
    display: flex;
    align-items: center;
    float: left;
    margin-bottom: 2%;
}

.info {
    width: 80%;
}

.main-info {
    margin-top: 2vh;
    font-size: small;
}

.main {
    display: flex;
}

.page {
    display: flex;
    padding: 0 1vw;
}

.left-page {
    width: 40%;
    min-width: min-content;
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    padding-left: 1vw;
}

.right-page {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-actions {
    text-align: center;
    display: inline-block;
    font-size: small;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
    flex-basis: fit-content;
    margin-bottom: 1vh;
}

.send-message {
    margin-right: 3%;
}

.send-message, .add-friend {
    width: 50%;
    min-width: min-content;
    background-color: #a6e3e9;
}

.news {
    margin: 1vh 0;
}

.friends, .friends-online {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.status {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile-info {
    width: 100%;
}

.more-info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

.photos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wall {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    margin-bottom: 3%;
}

.post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1vw;
}

.post-text {
    width: 100%;
    margin-top: 2%;
    border: 1px solid black;
    padding: 0.5vh 0.5vw;
    font-size: small;
}

/* Headers */

.main-header {
    height: 10vh;
    min-height: 30px;
    background-color: #71c9ce;
}

.info-header {
    height: 6vh;
    min-height: 20px;
}

.friends-header, .friends-online-header {
    height: 4vh;
    min-height: 20px;
    display: flex;
    align-items: center;
}

.photos-header {
    height: 5vh;
    min-height: 15px;
    display: flex;
    align-items: center;
}

.wall-header {
    height: 5vh;
    flex-wrap: nowrap;
    margin-bottom: 2vh;
}

.tools, .web-status, .search {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
}

.search {
    width: 30%;
}

.search-field {
    width: 100%;
    height: 50%;
}

.name, .posts-amount {
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}

.name {
    font-size: large;
}

/* Images */

.logo-image, .avatar-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo {
    display: inline-block;
    height: 100%;
    min-height: 30px;
    width: 20%;
}

.avatar {
    width: 90%;
    margin: 1vh 1vw;
}

.friend {
    width: 20%;
}

.photo {
    width: 30%;
}

.post-image {
    width: 20%;
    margin-right: 5%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 5%;
}

.image-inner {
    width: 100%;
    padding-top: 100%;
    background-color: white;
    position: relative;
}
